<!-- eslint-disable @angular-eslint/template/prefer-control-flow -->
<!-- <p><input type="text" [(ngModel)] ="imgParent"></p>

<app-img (loaded)="onLoaded($event)" [img]="imgParent"></app-img>

 -->

 <app-nav/>
 <button (click)="createUser()">Crear Usuario</button>
<p>
     <a href="/files/texto.txt" download>Download</a>
</p>
<p>
    <button (click)="downloadPDF()">Descargar PDF</button>
</p>
<p>
    <input type="file" (change)="onUpload($event)">
    <img *ngIf="imgRta" [src]="imgRta" alt="">
</p>
<app-products></app-products>